* {
    background-color: #FFF1DC;
}

body {

}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-info {
    margin: -10px 0 0 10px;
    width: 35%;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: -25px;
}

h2 {

}

.avatar {
    display: flexbox;
    width: 10%;
}

#avatar-img {
    display: relative;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0;
}

nav {
    display: flexbox;
    width: 55%;

}

nav ul {
    list-style: none;
    position: relative;
    margin: 30px;
    float: right;
}

nav ul li {
    display: inline;
    margin: 5px;
    font-size: larger;
}

#background-img {

}

main {

}

.card-container {
    display: grid;
    gap: 5px;
    grid-template-areas:
        'card1 card1 card1'
        'card1 card1 card1'
        'card2 card3 card4';
    min-height: 1000px;

}

.card-container * {
    background-color: #E8D5C4;
    justify-content: center;
}

#card1 {
    grid-area: card1;
    display: flex;
    align-items: center;
    
}

#card2 {
    display: flex;
    grid-area: card2;
    align-items: center;
}

#card3 {
    display: flex;
    grid-area: card3;
    align-items: center;
}

#card4 {
    display: flex;
    grid-area: card4;
    align-items: center;
}

.card-container div {
}

.card-container img {
    width: 200px;
    height: 200px;
}

footer {

}

/* Add page resizing responsiveness */
@media screen {

  }