* {
    background-color: #fff;
    color: #D5CEA3;
    font-size: 22px;
    text-align: center;
}

body {
    margin: 20px;
}

.container .avatar {
    border-bottom: 1px solid #E5E5CB;
    padding-bottom: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #E5E5CB;
}

h1 {
    font-size: 80px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 0;
}

h3 {
    font-size: 64px;
    margin: 20px 0 0 0;
    text-align: center;
}

nav{
    border-bottom: 1px solid #E5E5CB;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: right;
}

nav ul li a{
    font-size: 44px;
    /* margin: 40px 0 40px 150px; */
}

#aboutme {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5CB;
}

.container * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid #E5E5CB;
}

.cards > div {
    margin: 20px;
}

.cards div * {
    background-color: transparent;
}

.background-img-bigger {
    /* background-image: url("./images/Blue\ background\ image.jpg"); */
    background-color: #EEEEEE;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    width: 90vw;
    background-size: cover;
    padding: 10px; 
    border-radius: 20px;
}

.background-img {
    /* background-image: url("./images/Blue\ background\ image.jpg"); */
    background-color: #EEEEEE;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    width: 60vw;
    background-size: cover; 
    padding-bottom: 30px; 
    border-radius: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: auto-fit;
    /* grid-gap: 10px; */
    grid-template-areas: 
        "avatar header nav"
        "mywork mywork mywork"
        "aboutme aboutme aboutme"
        ". contact ."
        ". footer .";
    /* background-color: gray;   */
}

.container .avatar {
    grid-area: avatar;
}

.container header {
    grid-area: header;
}

.container nav {
    grid-area: nav;
}

.container #mywork {
    grid-area: mywork;
}

.container #aboutme {
    grid-area: aboutme;
}

.container #contact {
    grid-area: contact;
}

.container footer {
    grid-area: footer;
}

#primary {
    width: 500px;
    height: 700px;
    border-radius: 50%;
}

#secondary {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.cards #primary:hover, .cards #secondary:hover {
    box-shadow: 5px 5px 5px #E5E5CB, -5px -5px 5px #E5E5CB;
    border-radius: 10%;
    transition: border-radius 2s;
}

.avatar img {
    border-radius: 50px;
    max-width: 300px;
    max-height: 300px;
}

a:link { 
    text-decoration: none; 
}

a:hover, a:active {
    font-size: 55px;
}

footer {
    padding: 20px;
    border-top: 1px solid #E5E5CB;
}


/* ----------------------- RESPONSIVENESS ----------------------------------- */

@media screen and (max-width: 880px) {
    * {
        text-align: center;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: auto-fit;
        grid-gap: 10px;
        grid-template-areas: 
            "avatar"
            "header"
            "nav"
            "mywork"
            "aboutme"
            "contact"
            "footer";
        /* background-color: gray;   */
    }
    
    .container .avatar {
        grid-area: avatar;
    }
    
    .container header {
        grid-area: header;
    }
    
    .container nav {
        grid-area: nav;
    }
    
    .container #mywork {
        grid-area: mywork;
    }
    
    .container #aboutme {
        grid-area: aboutme;
    }
    
    .container #contact {
        grid-area: contact;
    }
    
    .container footer {
        grid-area: footer;
    }
    

    #primary {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 50%;
    }   
    
    #secondary {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .background-img-bigger {
        /* background-image: url("./images/Blue\ background\ image.jpg"); */
        background-color: #EEEEEE;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 90vw;
        background-size: cover; 
        border-radius: 20px;
    }
    
    .background-img {
        /* background-image: url("./images/Blue\ background\ image.jpg"); */
        background-color: #EEEEEE;
        height: fit-content;
        background-position: center;
        background-repeat: no-repeat;
        width: 90vw;
        background-size: cover; 
        border-radius: 20px;
    }

    figcaption {
        margin: 0 30px;
    }
}

