:root { /*Sets variables to be used when possible*/
    --pri-color: #fff;
    --sec-color: #EEEEEE;
    --tert-color: #E5E5CB;
    --font-color: #D5CEA3;
}

* { /* Sets common properties among entire page elements */
    background-color: var(--pri-color);
    color: var(--font-color);
    font-size: 22px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body { /* Adds a buffer around the entire page so everything displays on screen */
    margin: 20px;
}

header { /* styling for all items in header bar */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 { /* styling for 'Dion Baskara' text in header */
    font-size: 80px;
    margin: 0;
}

h2 { /* styling for 'My Work', 'About Me', and 'Contact Me' section headers */
    font-size: 64px;
    margin: 20px 0 0 0;
    text-align: center;
}

h3 { /* styling for 'Web Development Portfolio' section */
    font-size: 24px;
    margin: 5px;
}

h4 { /* styles footer section and demarcation line above it */
    font-size: 16px;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid var(--tert-color);
}

nav ul { /* styling for section link list in navbar */
    list-style: none;
    padding: 0;
}

nav ul li a{ /* styling for links in navbar */
    font-size: 40px;
}

main { /* adds a section demarcation line between header and main */
    border-top: 1px solid var(--tert-color);
    margin-top: 20px;
}

#aboutme { /* styling for 'About Me' section and demarcation line below */
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--tert-color);
}

#contact p { /* styling for 'Contact Me' section */
    margin: 0;
}

.container * { /* styles main body to flow in a column and adjust when needing to be responsive */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards { /* styling for contents of 'My Work' section and bottom demarcation line */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid var(--tert-color);
}

.cards > div { /* creates a gap between each card for aesthetics */
    margin: 20px;
}

.cards div * { /* aesthetic styling to card images and text-blocks */
    background-color: transparent;
}

.background-img-bigger { /* styling for the background block around the first 'My Work' card */
    background-color: var(--sec-color);
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    width: 90vw;
    background-size: cover;
    padding: 10px; 
    border-radius: 20px;
}

.background-img { /* styling for the background block around the remaining 'My Work' cards */
    background-color: var(--sec-color);
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    width: 65vw;
    background-size: cover; 
    padding-bottom: 30px; 
    border-radius: 20px;
}

.container { /* sets up the grid style and structure that the page is built on */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: auto-fit;
    grid-template-areas: 
        "avatar header nav"
        "mywork mywork mywork"
        "aboutme aboutme aboutme"
        ". contact ."
        ". footer .";
}

.container .avatar { /* sets the location of the avatar in the grid area */
    grid-area: avatar;
}

.container header { /* sets the location of the 'Dion...' and 'Web Dev...' in the grid area */
    grid-area: header;
}

.container nav { /* sets the location of the navbar in the grid area */
    grid-area: nav;
}

.container #mywork { /* sets the location of the 'My Work' section in the grid area */
    grid-area: mywork;
}

.container #aboutme { /* sets the location of the 'About Me' section in the grid area */
    grid-area: aboutme;
}

.container #contact { /* sets the location of the 'Contact Me' section in the grid area */
    grid-area: contact;
}

.container footer { /* sets the location of the footer in the grid area */
    grid-area: footer;
}

#primary { /* styles the first image in the 'My Work' section */
    width: 425px;
    height: auto;
    border-radius: 50%;
}

#secondary { /* styles the remaining images in the 'My Work' section */
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.cards #primary:hover, .cards #secondary:hover { /* gives aesthetic styling to the cards when viewed */
    box-shadow: 5px 5px 5px var(--tert-color), -5px -5px 5px var(--tert-color);
    border-radius: 10%;
    transition: border-radius 2s;
}

.avatar img { /* styles the avatar image directly */
    border-radius: 50px;
    max-width: 300px;
    max-height: 300px;
}

a:link { /* styles navbar links when static */
    text-decoration: none; 
}

a:hover, a:active { /* styles navbar links when interacted with */
    font-size: 55px;
}


/* ----------------------- RESPONSIVENESS ----------------------------------- */


@media screen and (max-width: 930px) { /* Enables layout and styling to respond to varying screen sizes below 930px width */
    * {
        text-align: center;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: auto-fit;
        grid-gap: 10px;
        grid-template-areas: 
            "avatar"
            "header"
            "nav"
            "mywork"
            "aboutme"
            "contact"
            "footer";
    }
    
    .container .avatar {
        grid-area: avatar;
    }
    
    .container header {
        grid-area: header;
    }
    
    .container nav {
        grid-area: nav;
    }
    
    .container #mywork {
        grid-area: mywork;
    }
    
    .container #aboutme {
        grid-area: aboutme;
    }
    
    .container #contact {
        grid-area: contact;
    }
    
    .container footer {
        grid-area: footer;
    }

    #primary {
        width: 100%;
        max-width: 425px;
        height: auto;
        border-radius: 50%;
    }   
    
    #secondary {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .background-img-bigger {
        background-color: var(--sec-color);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 90vw;
        background-size: cover; 
        border-radius: 20px;
    }
    
    .background-img {
        background-color: var(--sec-color);
        height: fit-content;
        background-position: center;
        background-repeat: no-repeat;
        width: 90vw;
        background-size: cover; 
        border-radius: 20px;
    }

    figcaption {
        margin: 0 30px;
    }
}

